body{
  font-family: $font-base;
  color: $color-dark;
}

.app {
  @extend %wrapper;
  width: 100vw;
  background: white;
}

.app-main{
  position: relative;
  top: -20vh;
}

.app-header {
  width: 100%;
  background: transparent;
  height: 20vh;
  max-height: $header-max-height;
  z-index: 2;
  position: relative;
}

.app-intro {
  width: 100%;
  height: 100vh;
}

.app-header--login{
  width: 100%;
  background: white;
  height: 30vh;
  max-height: $header-login-max-height;
}

.app-three-columns-section {
  width: 100%;
  background: white;
  height: 50vh;
  max-height: $three-columns-height;
  margin-bottom: 55px;
}

.app-simple-step-section {
  width: 100%;
  background: white;
  height: 70vh;
  max-height: $simple-steps-height;
}

.app-about-section {
  width: 100%;
  background: $color-light;
  height: 75vh;
  max-height: $about-height;
}

.app-help-section{
  width: 100%;
  background: white;
  max-height: $help-height;
}

.app-contact-section{
  width: 100%;
  background: white;
  height: 100vh;
  max-height: $contact-height;
}

.app-login-section{
  width: 100%;
  background: white;
  height: 80vh;
  max-height: $login-height;
}

.app-form-section{
  width: 100%;
  background: white;
  //height: 85vh;
  max-height: $form_height;
}

.app-info-strap-section{
  width: 100%;
  background: #FAD648;
  //height: 15vh;
  max-height: $info-strap-height;
}


