body{
  font-family: $font-base;
  color: $color-dark;
}

.app {
  @extend %wrapper;
  width: 100vw;
  background: white;
}

.app-header {
  width: 100%;
  background: white;
  height: 80vh;
  max-height: $header-max-height;
}

.app-three-columns-section {
  width: 100%;
  background: white;
  height: 50vh;
  max-height: $three-columns-height;
  margin-bottom: 55px;
}

.app-simple-step-section {
  width: 100%;
  background: white;
  height: 70vh;
  max-height: $simple-steps-height;
}

