.contact-container {
  padding: 0 calc(100% * (1 / 14));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color:white;
  background-position: 0;
  @include fluid-background-image("../assets/images/Background.png", "../assets/images/Background@2x.png")
}

.contact-form-section{
  margin-top: 100px;
  position: relative;
}

.contact-form-section__title{
  @include fluid-type(768px, 1400px, 30px, 38px);
  text-align: center;
  @extend %center--column;
}

.contact-form-section__decoration{
  width: 253px;
  margin-top: 25px;
}

.contact-form-section__contact-form{

}

.contact-form-section__contact-form__input-section{
  border-bottom: 1px solid $color-dark;
  width: 48%;
  padding: 0;
}

.contact-form-section__contact-form__input-section__name{
  margin-right: 4%;
}

.contact-form-section__contact-form__input{
  margin-top: 12px;
  outline: 0;
  border: none;
}

.contact-form-section__contact-form__textarea-section{
  margin-top: 40px;
  border-bottom: 1px solid $color-dark;
  padding: 0;
  textarea{
    border: none;
    margin-top: 12px;
    width: 100%;
    display: block;
  }
}

.contact-form-section__contact-form__sbm-btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  padding: 0;

  input{
    font-size: 18px;
    font-weight: 300;
    width: 150px;
    height: 50px;
    @include btn-border($color-dark);
    background-color: transparent;
  }
}

.contact-form-section__social-media{
  position: absolute;
  bottom: 0;
  right: 0;
}
