.form{
  padding: 0 calc(100% * (1 / 14));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-color:white;
  @include fluid-background-image("../assets/images/Background-Form.png", "../assets/images/Background-Form@2x.png")
}

.form__info__container{
  padding: 0 calc(100% * (1 / 14));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form__content{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0;
}

.form__info__header{
  font-size: 36px;
  font-weight: bold;
}

.form__info__desc{
  font-size: 22px;
}

.form__num-section{
  margin-top: 35px;
  font-size: 24px;
}

.form__checkboxes-section{
  flex-grow: 1;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.form__checkboxes-section__select-container{
  position: relative;
  @include btn-border($color-dark);
  max-width: 300px;
  display: inline-block;
  width: 100%;
  height: 40px;

  select{
    height: 100%;
    border: 0;
    background-color: transparent;
    width: 100%;
    outline: 0;
    appearance:none;
    text-align-last: center;
    background-repeat: no-repeat;
    background-position: 100%;
    background-image: url("../assets/svg/Icon-Arrow-Down.svg");

    option{
      width: 50px;
    }
  }
}

.form__checkboxes-section__title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form__checkbox-container{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  input[type='radio']{
    visibility: hidden;
  }

  input[type="radio"]:checked + label{
    background-color: $color-yellow;
  }

  input[type='checkbox']{
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label{
    background-color: $color-yellow;
  }

  .checkboxLabel{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    @include btn-border($color-dark);
    background-color: transparent;
    display:inline-block;
  }

  .checkboxLabel--third{
    flex-shrink: 0;
    @include btn-border($color-dark);
    background-color: transparent;
    font-size: 24px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .checkboxLabelText{
    margin-left: 30px;
    display:inline-block;
    width: 100%;
  }
}

.form__btn__section{
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 70px;
  height: 100%;
  max-height: 79px;
}

.form__btn{
  flex-grow: 1;
  font-size: 24px;
  @include btn-border($color-dark);
  max-width: 180px;
  margin-right: 45px;
  margin-bottom: 10px;
  height: 100%;
  max-height: 79px;
  button{

    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: 0;
    border: 0;
    margin-right: 45px;
  }

  input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: 0;
    border: 0;
  }
}

.form__target__section{
  display: flex;
  flex-flow: row wrap;
}

.organization-input{
  min-height: 40px;
  outline: 0;
  background-color: transparent;
  max-width: 570px;
  @include btn-border($color-dark);
}







