.header-container {
  padding: 0 calc(100% * (1 / 14));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 67% 100%;
  background-color:white;
  background-position: -70%;
}

.header__top-menu{

}

%header__top-menu__btn {
  background-color: white;
  border: none;
  outline: 0;
}

.header__top-menu__login-register{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__top-menu__login-register__btn{
  height: 36px;
  padding: 0 0.5rem;
  @extend %header__top-menu__btn;
}

.header__top-menu__login-register__btn--pressed{
  @include btn-border($color-yellow)
}

.header__top-menu__login-register__btn--login{
  font-size: 14px;
}

.header__top-menu__login-register__btn--register{
  font-size: 13px;
}

.header__top-menu__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-menu__navigation__btn{
  height: 42px;
  flex-grow: 1;
  @extend %header__top-menu__btn;
  @include fluid-type(768px, 1900px, 10px, 18px)
}

.header__top-menu__navigation__btn--pressed{
  @include btn-border($color-dark)
}

