.simple-steps-container{
  width: 100%;
  height: 100%;
  background-color: white;
}

.simple-steps-title{
  max-height: 110px;
  padding: 0 calc(100% * (1 / 14));
  @extend %center--column;
  font-size: 38px;
  p {
    margin-bottom: 25px;
  }
}

.simple-steps-row{
  background-color: $color-light;
  max-height: 325px;
}

.simple-steps-row__icons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.simple-steps-row__single-icon-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  hr{
    margin: 10.5px 0;
    width: 70px;
  }
}

.simple-steps-row__single-icon-container__icon{
  width: 83px;
  height: 83px;
}

.simple-steps-row__single-icon-container__title{

}

.simple-steps-row__single-icon-container__subtitle{

}

.simple-steps-btn-section{
  padding: 0 calc(100% * (1 / 14));
  @extend %center
}

.simple-steps-btn-section__btn{
  width: 310px;
  height: 120px;
  font-size: 36px;
  font-weight: 300;
  @include btn-border($color-dark);
  @extend %btn-bkg;
}